* {
    color: rgb(255, 255, 255);
}

Button {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(123, 75, 75);
}

Label {
    font-size: 70px;
}

.welcome-spawn {
    transition-duration: 0ms;
    opacity: 0.42;
    scale: 0.8 0.8;
    border-bottom-width: 5px;
}
